:root {
    --red: #FC4445;
    --teal: #3feee6;
    --dark-teal: #55bcc9;
    --blue: #97Caef;
    --light-blue: #cafafe;
}

.App {
    text-align: center;
}

body {
    background-color: var(--light-blue);
}

* {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 55px;
    color: black;
}

.grey-card-container {
    max-width: 725px;
    margin: auto;
    background: var(--dark-teal);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -mox-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    border-radius: 5px;
    padding: 40px 50px 30px;
}